.weather {
    border-radius: 5px;
    padding: 20px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
}

.weather-description {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1;
    margin-top: 5px;
    margin-left: 10px;
}

.weather-icon {
    height: 50px;
}

.temperature {
    font-weight: 600;
    font-size: 4rem;
    width: auto;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding-left: 20px;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    text-align: left;
    font-weight: 400;
    font-size: 0.9rem;
}

.parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 0.9rem;
}
