.container {
  max-width: 1080px;
  margin: 20px auto;
}

.search-result {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.white-block {
  box-shadow: 0 5px 8px -5px rgb(0 0 0 / 30%);
  color:  #333;
  background-color:rgb(255 255 255 / 82%);
}

.linkedin-wrapper {
  text-align: center;
}

.linkedin-link {
  color:white;
  display: flex;
  justify-content: center;
}

.linkedin-link > * {
  margin: 0 5px;
}

.linkedin-logo {
  height: 20px;
}