.container {
  width: 340px;
  margin: 20px auto;
}

.container > * {
  width: inherit;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.search-result > * {
  margin-top: 20px;
  width: inherit;
}

.white-block {
  box-shadow: 0 5px 8px -5px rgb(0 0 0 / 30%);
  color:  #333;
  background-color:rgb(255 255 255 / 82%);
}

.linkedin-wrapper {
  text-align: center;
}

.linkedin-link {
  color:white;
  display: flex;
  justify-content: center;
}

.linkedin-link > * {
  margin: 0 5px;
}

.linkedin-logo {
  height: 20px;
}